.d-flex{
    display: flex;
}
.f-1{
    flex: 1
}
.jc-around{
    justify-content: space-around;
}
.jc-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-col{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.ai-center{
    align-items: center;
}
